---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const width = "960px";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style define:vars={{ width }}>
            main {
                width: var(--width);
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: calc(50% - 1rem);
                position: relative;
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            ul li:first-child {
                width: 100%;
                margin-bottom: 1rem;
                text-align: center;
            }
            ul li:first-child img {
                width: 75%;
            }
            ul li:first-child .title {
                font-size: 2.369rem;
            }
            ul li img {
                margin-bottom: 0.5rem;
                border-radius: 12px;
                &:hover {
                    transform: scale(1.02);
                }
            }
            ul li a {
                display: block;
            }
            .title {
                margin: 0;
                color: var(--black);
                line-height: 1;
            }
            .date {
                margin: 0;
                color: var(--gray);
            }
            ul li a:hover h4,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul li:first-child img.shadow {
                position: absolute;
                top: 0;
                left: calc((100% - 75%) / 2);
                bottom: 0;
                right: 0;
            }
            ul li img.shadow {
                position: absolute;
                overflow: hidden;
                display: flex;
                z-index: -2;
            }
            ul li a:hover img.shadow {
                content: "";
                background: inherit;
                filter: blur(20px) brightness(80%) opacity(0.8);
            }
            @media (max-width: 720px) {
                ul {
                    gap: 0.5em;
                }
                ul li {
                    width: 100%;
                    text-align: center;
                }
                ul li:first-child {
                    margin-bottom: 0;
                }
                ul li:first-child .title {
                    font-size: 1.563em;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/blog/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={360}
                                        src={post.data.heroImage}
                                        alt=""
                                        class="shadow"
                                    />
                                    <img
                                        width={720}
                                        height={360}
                                        src={post.data.heroImage}
                                        alt=""
                                    />
                                    <h4 class="title">{post.data.title}</h4>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer width={width} />
    </body>
</html>
