---
import BaseLayout from '@layouts/BaseLayout.astro';
import PaginatedPosts from '@components/PaginatedPosts.astro';
import blogConfig from '@configs/blog.json';
import { getSortedPosts } from '@utils/posts';
import { getPaginationInfo } from '@utils/pagination';

const posts = await getSortedPosts();
const { totalPages } = getPaginationInfo(posts.length);

const title = blogConfig.general.title;
const description = blogConfig.general.description;
const width = blogConfig.general.width;
---

<BaseLayout title={title} description={description} footerWidth={width}>
  <style define:vars={{ width }}>
    main {
      width: var(--width);
    }
  </style>

  <main>
    <PaginatedPosts posts={posts} currentPage={1} totalPages={totalPages} />
  </main>
</BaseLayout>
