---
import BaseLayout from '@layouts/BaseLayout.astro';
import PaginatedPosts from '@components/PaginatedPosts.astro';
import blogConfig from '@configs/blog.json';
import { getSortedPosts } from '@utils/posts';
import { getPaginationInfo } from '@utils/pagination';

const title = blogConfig.general.title;
const description = blogConfig.general.description;
const width = blogConfig.general.width;

const { page } = Astro.params;
const currentPage = parseInt(page ?? '1', 10);

const posts = await getSortedPosts();
const { totalPages } = getPaginationInfo(posts.length);

export async function getStaticPaths() {
  const posts = await getSortedPosts();
  const { totalPages } = getPaginationInfo(posts.length);

  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}
---

<BaseLayout title={title} description={description} footerWidth={width}>
  <style define:vars={{ width }}>
    main {
      width: var(--width);
    }
  </style>

  <main>
    <PaginatedPosts posts={posts} currentPage={currentPage} totalPages={totalPages} />
  </main>
</BaseLayout>
