---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BaseLayout from '@layouts/BaseLayout.astro';
import SeriesLinks from '@components/SeriesLinks.astro';
import FormattedDate from '@components/FormattedDate.astro';
import ScrollProgress from '@components/ScrollProgress.astro';
import LicenseCard from '@components/LicenseCard.astro';

import type { MarkdownHeading } from 'astro';
import type { HeadingHierarchy } from '@components/TOC.astro';
import TOC from '@components/TOC.astro';

import blogConfig from '@configs/blog.json';

import '@styles/toc.css';

import 'remark-github-alerts/styles/github-colors-light.css';
import 'remark-github-alerts/styles/github-colors-dark-class.css';
import 'remark-github-alerts/styles/github-base.css';

type Props = CollectionEntry<'blog'>['data'] & {
  headings: MarkdownHeading[];
};

const { title, description, pubDate, updatedDate, heroImage, series, headings } = Astro.props;
const { width: heroWidth, height: heroHeight } = blogConfig.heroImage;
const { minDepth: tocMinDepth, maxDepth: tocMaxDepth } = blogConfig.toc;

function createHeadingHierarchy(headings: MarkdownHeading[]) {
  const topLevelHeadings: HeadingHierarchy[] = [];

  headings.forEach((heading) => {
    if (heading.depth > tocMaxDepth) {
      return;
    }
    if (heading.depth < tocMinDepth) {
      return;
    }
    const h = {
      ...heading,
      subheadings: [],
    };

    if (h.depth === tocMinDepth) {
      topLevelHeadings.push(h);
    } else {
      let parent = topLevelHeadings[topLevelHeadings.length - 1];
      if (parent) {
        parent.subheadings.push(h);
      }
    }
  });

  return topLevelHeadings;
}

const toc: HeadingHierarchy[] = createHeadingHierarchy(headings ?? []);
const hasToC = toc.length > 1;
---

<BaseLayout title={title} description={description} image={heroImage.src} lang="zh">
  <Fragment slot="head">
    <style>
      .hero-image {
        position: relative;
      }
      .hero-image img {
        width: 960px;
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        position: relative;
        z-index: 1;
      }
      .hero-image img.shadow {
        overflow: hidden;
        display: flex;
        /* Place the shadow below the image */
        z-index: -2;
        filter: blur(8px) brightness(50%) opacity(0.5);
        /* Position the shadow absolutely */
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .article-header {
        text-align: center;
        line-height: 1;
        margin: 2em auto 0;
        width: var(--width);
        max-width: calc(100% - 2em);
      }
      .date {
        color: var(--gray-700);
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
      }
      .date-separator {
        color: var(--gray-600);
        user-select: none;
      }
      .last-updated-on {
        display: inline-flex;
        align-items: center;
        gap: 0.35em;
      }
      .prose hr + * {
        margin-top: 1em;
      }
    </style>
  </Fragment>

  <div class="toc" id="toc">
    {
      hasToC && (
        <nav>
          {toc.map((heading) => (
            <TOC heading={heading} />
          ))}
        </nav>
      )
    }
  </div>
  <main data-pagefind-body>
    <article>
      <div class="hero-image" data-pagefind-ignore>
        {
          heroImage && (
            <>
              <Image width={heroWidth} height={heroHeight} src={heroImage} alt="" class="shadow" />
              <Image
                width={heroWidth}
                height={heroHeight}
                data-pagefind-meta="image[src]"
                src={heroImage}
                alt=""
              />
            </>
          )
        }
      </div>
      <div class="article-header">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <>
                <span class="date-separator">&bull;</span>
                <span class="last-updated-on">
                  Updated on <FormattedDate date={updatedDate} />
                </span>
              </>
            )
          }
        </div>
        <h1 class="title-h1">{title}</h1>
        <div style="text-align: center;">
          <SeriesLinks series={series} />
        </div>
        <hr />
      </div>
      <div class="prose">
        <slot />
        <LicenseCard title={title} pageUrl={Astro.url.href} />
      </div>
    </article>
  </main>

  <Fragment slot="after-footer">
    <ScrollProgress />
    <script>
      import '@scripts/toc-display.ts';
    </script>
  </Fragment>
</BaseLayout>
